textarea:focus,
input:focus {
  outline: none;
}
a:focus,
label:focus,
button:focus {
  box-shadow: 0 0 5px rgba(0, 170, 245, 0.75);
}
a:active,
label:active span,
button:active {
  color: #ef112a !important;
}
a:hover {
  text-decoration: none;
}
html {
  background: #FDFDFD;
}
body {
  min-width: 1025px;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  max-width: 1400px;
  margin: 0 auto !important;
  display: block;
  border-right: solid 1px #F5F4F4;
  border-left: solid 1px #F5F4F4;
}
a.defaut-title {
  color: #23A9DC;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
}
p.defaut-description {
  margin-top: 12px;
  font-size: 13px;
}
.text_22 {
  font-size: 12px;
  color: #000000;
  font-weight: bold;
}
.main_menu {
  max-width: 670px;
}
.cap {
  padding-top: 1em;
  box-sizing: border-box;
}
#LoginButtons {
  margin-top: 3em;
}
.header .login {
  margin-top: 0;
}
.header > div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3%;
}
.header > div:last-child {
  height: 170px;
}
.header > div:last-child,
.header > div#LoginForm,
.header > div#LoginButtons {
  margin-right: 0;
}
.search-form {
  padding: 12px 1em;
}
.search-form span,
.search-form select,
.search-form input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.search-form span:last-child,
.search-form select:last-child,
.search-form input:last-child {
  margin-right: 0;
}
.item-title {
  display: block;
}
.item-title img {
  width: 17px;
  height: 17px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.item-title a {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  border-bottom: solid 1px;
  display: inline-block;
  margin-bottom: 1em;
  line-height: 1em;
}
.item-title a:hover {
  border-bottom-color: transparent;
}
.bottom-menu {
  box-sizing: border-box;
  padding: 2em 1em;
}
.bottom-menu .left-menu {
  vertical-align: top;
  display: inline-block;
  width: 60%;
  text-align: left;
}
.bottom-menu .right-menu {
  vertical-align: top;
  display: inline-block;
  width: 38%;
  text-align: right;
  padding-right: 2em;
  box-sizing: border-box;
}
.bottom-menu .right-menu span {
  display: block;
  font-family: Arial, Helvetica, Garuda, sans-serif;
  font-size: 12px;
  color: #000000;
  line-height: 15px;
}
.bottom-menu .right-menu span a {
  font-family: Arial, Helvetica, Garuda, sans-serif;
  font-size: 12px;
  color: #23A9DC;
}
.bottom-menu .right-menu img {
  display: block;
  float: right;
  margin-top: 8px;
  margin-right: 5em;
}
.bottom-copyright {
  box-sizing: border-box;
  padding: 1em;
  margin-top: 3em;
}
.annonce-list {
  padding: 1em;
}
.annonce-list .item {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-bottom: 1em;
}
.annonce-list .item div {
  display: inline-block;
  vertical-align: top;
  width: 74%;
}
.annonce-list .item div.left {
  width: 20%;
}
.annonce-list .item div.left img {
  width: 100px;
}
.annonce-list .item div a {
  color: #23A9DC;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
}
.annonce-list .item div span {
  display: block;
  color: #575757;
  margin-top: 0em;
  font-size: 12px;
}
.annonce-list .item div p {
  margin-top: 12px;
  font-size: 13px;
}
.rent-list {
  margin: 0 1em;
}
.rent-list .item {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
}
.rent-list .item a {
  display: block;
}
.new-comments-list {
  margin: 0 1em 2em;
}
.new-comments-list .item {
  border-bottom: dashed 1px #B3B7E0;
  margin-bottom: 1em;
}
.new-comments-list .item:last-child {
  border-bottom-color: transparent;
}
.new-comments-list .item:first-child {
  margin-top: 1em;
}
.new-comments-list .item span.date {
  display: block;
  color: #575757;
  margin-top: 0em;
  font-size: 11px;
}
.new-comments-list .item a {
  display: block;
}
.new-comments-list .item a.name-preson {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 7px;
}
.new-comments-list .item a.name-preson:hover {
  text-decoration: underline;
}
.new-comments-list .item a.name-public {
  color: #23A9DC;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.new-comments-list .item a.comment-preview {
  color: #000;
  text-decoration: none;
  margin: 1em 0;
  font-size: 14px;
}
.new-comments-list .item a.comment-preview:hover {
  text-decoration: underline;
}
.most-discussed .item-base {
  margin-top: 1em;
  border-bottom: dashed 1px #B3B7E0;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.most-discussed .item-base:last-child {
  border-bottom-color: transparent;
}
.most-discussed .item-base label {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 14px;
}
.most-discussed .item-base div.item:before {
  content: "";
  display: block;
  float: left;
  background: url(../img/new-icons.png);
  background-position: -2px -2px;
  width: 10px;
  height: 10px;
  margin-top: 1px;
  margin-right: 5px;
}
.most-discussed .item-base div.item a {
  display: block;
  float: left;
  color: #23A9DC;
  font-size: 13px;
  max-width: 270px;
  line-height: 14px;
}
.most-discussed .item-base div.item div.number {
  width: 33px;
  height: 23px;
  position: relative;
  top: -3px;
  padding-top: 4px;
  text-align: center;
  background-image: url("http://cabriolife.ru/img/discussed_number.png");
  background-repeat: no-repeat;
  display: block;
  float: right;
}
.most-discussed .item-base div.item div.number a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: #000000;
  font-weight: bold;
  float: none;
  font-style: italic;
}
.most-discussed .item-base div.item:after {
  content: "";
  display: block;
  clear: both;
}
.review-and-tests-list .item,
.news-list .item {
  margin-bottom: 1em;
}
.review-and-tests-list .item > div,
.news-list .item > div {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  padding-top: 1em;
}
.review-and-tests-list .item > div:first-child,
.news-list .item > div:first-child {
  width: 15%;
  margin-right: 10px;
}
.review-and-tests-list .item > div span,
.news-list .item > div span {
  background-color: #FFCC00;
  margin-bottom: 5px;
  text-align: center;
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
}
.review-and-tests-list .item > div img,
.news-list .item > div img {
  width: 100%;
  display: block;
}
.review-and-tests-list .item > div a,
.news-list .item > div a {
  line-height: 1;
  padding-top: 4px;
  font-size: 12px;
}
.review-and-tests-list .item > div p,
.news-list .item > div p {
  margin-bottom: 0;
}
.new-models {
  padding: 2em 1em;
}
.new-models .item {
  display: inline-block;
  vertical-align: top;
  width: 16%;
  box-sizing: border-box;
}
.new-models .item a {
  text-align: center;
  border: solid 1px #F4F4F4;
  padding-bottom: 5px;
}
.new-models .item a img {
  width: 90%;
  display: block;
  margin: 5px auto;
}
.new-models .item a:active,
.new-models .item a:focus {
  border: solid 1px #C88D8D;
}
.main-post {
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
.main-post a {
  text-decoration: none;
  color: #000;
  line-height: 1.2;
  font-size: 24px;
  font-weight: normal;
}
.main-post a img {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.main-post a:hover {
  text-decoration: underline;
}
.main-post p {
  margin: 1em 0;
  color: #4C4545;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.catalog-count {
  border-right: none !important;
}
.catalog-count .box-container {
  border: solid 3px #E6E6E6;
  box-sizing: border-box;
  padding: 1em;
}
.catalog-count .box-container div:nth-child(1) span {
  display: inline-block;
  vertical-align: top;
  color: #F0AD06;
  font-weight: bold;
  width: 25%;
  font-size: 46px;
  line-height: 1;
}
.catalog-count .box-container div:nth-child(1) a {
  color: #F0AD06;
  display: inline-block;
  vertical-align: top;
  width: 70%;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.catalog-count .box-container div:nth-child(1) p {
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
}
.catalog-count .box-container div:nth-child(2) a {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  font-weight: bold;
  color: #000;
  margin-top: 1em;
}
.catalog-count .box-container div:nth-child(2) a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.catalog-count .box-container div:nth-child(3) a {
  display: block;
  margin-top: 2em;
  text-align: center;
  color: #5C5C5C;
  font-weight: 100;
  font-size: 14px;
}
.index-body {
  border-top: solid 1px #F4F4F4;
}
.index-body > .left {
  padding-top: 3em;
  display: inline-block;
  vertical-align: top;
  width: 47%;
}
.index-body > .right {
  padding-top: 3em;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-left: 1em;
  border-right: solid 1px #F4F4F4;
  padding-right: 1.2em;
}
.index-body > .trois-col {
  padding-top: 3em;
  width: 21%;
  display: inline-block;
  vertical-align: top;
  padding-left: 1em;
  box-sizing: border-box;
}
.two-col-container {
  padding-top: 2em;
}
.two-col-container > div {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  box-sizing: border-box;
  padding: 0 1em 2em;
}
ul.u_1 {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
ul.u_1 li {
  position: relative;
  margin-bottom: 10px;
}
ul.u_1 li:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  left: -19px;
  top: 2px;
  background: url(../img/new-icons.png);
  background-position: -1px -2px;
}
ul.u_1 li ul {
  list-style: none;
  margin-top: 10px;
}
ul.u_1 li ul li:before {
  background: #B83800;
  border: solid 1px #9A3902;
  width: 3px;
  height: 3px;
  border-radius: 5px;
  left: -15px;
  top: 4px;
}
.image-list {
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-right: 18px;
  color: #35a8de;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.image-list:hover {
  text-decoration: none;
}
.image-list img {
  display: block;
  margin-bottom: 10px;
  height: 120px;
}
.quote p {
  margin-left: 3em;
  border-left: solid 5px #FFCD04;
  color: #613A1D;
  padding: 5px 10px;
  font-style: italic;
  line-height: 1.4;
}
.quote p span {
  display: block;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  margin-top: 1em;
}
.right-news-widget {
  padding: 10px 20px;
  background-color: #F2F2F2;
  box-sizing: border-box;
  margin-top: 40px;
}
.right-news-widget h3 {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 20px;
}
.right-news-widget div {
  position: relative;
}
.right-news-widget div:after {
  content: "";
  position: absolute;
  display: block;
  background: url(../img/attention-icon.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  top: 3px;
  left: -23px;
}
.right-news-widget div a {
  display: block;
  font-style: normal;
}
.right-news-widget div p {
  display: block;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 2em;
}
.search {
  height: 40px;
}
