.hide {
    display: none !important;
}

* {
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1400px;
  /*min-width: 400px;*/
  margin: 0;
}
  @media (min-width: 1400px) {
    body {
      margin: 0 auto;
    }


  }

img {
  max-width: 100%;
}


h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 28px;
  position: relative;
}
h1:before {
  content: "";
  background-image: url(../img/title-img.png);
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: -16px;
  top: 7px;
  cursor: default;
}
time {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  background-color: #fcca03;
  font-size: 11px;
  padding: 2px 10px;
}
time.gone {
  background-color: #FCFCFC;
}


.block-title,
.h2,
h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
  margin: 0.83em 0 0 0;
  position: relative;
}
  h2:before {
    content: "";
    background-image: url(../img/mini-title-img.png);
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: -20px;
    top: 6px;
  }
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  margin: 1em 0 0 0;
  font-weight: normal;
  color: #272727;
}

.slash {
  position: relative;
}
.slash:before {
  content: "";
  background-image: url(../img/title-img.png);
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: -16px;
  top: 3px;
}

.widget-back {
  background-color: #f0f0f0;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-11_5,
.col-xs-12 {
  float: left;
  position: relative;
}


.list-unstyled {
  padding-left: 0;
  list-style: none;
}
  .list-unstyled li {
    /*display: inline-block;*/
  }

.col-xs-12 {width: 100%;}
.col-xs-11_5 {width: 96.16666666666666%;}
.col-xs-11 {width: 91.66666666666666%;}
.col-xs-10 {width: 83.33333333333334%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.66666666666666%;}
.col-xs-7 {width: 58.333333333333336%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.66666666666667%;}
.col-xs-4 {width: 33.33333333333333%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.666666666666664%;}
.col-xs-1 {width: 8.333333333333332%;}

.ml-1 {margin-left: 4.15%;}
.mr-1 {margin-right: 4.15%;}




.l_1 {
  font-size: 14px;
  font-style: italic;
}
.l_2 {
  display: block;
  color: #C98000;
  font-weight: bold;
  font-size: 13px;
}

.a_1 {
  color: #663300;
  text-decoration: none;
}
.a_1:hover {
  text-decoration: underline;
}

.a_2 {
  text-decoration: none;
  color: #35a8de;
  border-bottom: dashed 1px;
  font-weight: normal;
  font-size: 14px;
}
.a_2:hover {
  border-bottom: none;
}

.a_3 {
  /*text-decoration: none;*/
  color: #35a8de;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}
.a_3:hover {
  text-decoration: none;
}

.a_4 {
  /*text-decoration: none;*/
  color: #35a8de;
  font-weight: normal;
  font-size: 14px;
}
.a_4:hover {
  text-decoration: none;
}


.a_5 {
  text-decoration: none;
  color: #35a8de;
  font-weight: normal;
  font-size: 15px;
}
.a_5:hover {
  text-decoration: underline;
}


.a_6 {
  color: #35a8de;
  margin-bottom: 1em;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
}
.a_6:hover {
  text-decoration: underline;
}

.a_6_ {
  color: #222;
  margin-bottom: 1em;
  font-size: 13px;
  font-weight: normal;
  text-decoration: underline;
  font-style: normal;
}
.a_6_:hover {
  color: #35a8de;
}



.s_3 {
  font-size: 14px;
  font-style: italic;
  color: #ccc;
}

.basetable {
  text-align: center;
  border-color: transparent;
  border-width: 0;
  border-collapse: collapse;
}
  .basetable  tr th {
    color: #683300;
    font-size: 12px;
    font-weight: bold;
    line-height: 3;
  }
  .basetable  tr td {
    line-height: 2;
    font-size: 14px;
  }
  .basetable  tr:nth-child(2n) {
    background: #F9F9F9;
  }

  .basetable  tr th:first-child,
  .basetable  tr td:first-child {
    text-align: left;
  }

.stats .basetable {
}
  .stats .basetable tr:first-child td:nth-child(2) {
    width: 33%;
  }
  .stats .basetable tr td:nth-child(2n) {
    line-height: 1.1;
  }
  .stats .basetable tr td {
    font-size: 13px;
  }




.bg_1 {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,240,240,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
 
  padding-bottom: 10px;
}
  @media (min-width: 1400px) {
    .bg_1 {
      /*padding: 8px;*/
    }
  }


.icons17 {
  background: 0 0 no-repeat transparent url(../img/icons17px.png); 
  padding: 0px 0px 0px 24px !important; 
  height: 18px;
  margin: 5px;
  line-height: 1.3;
}
.ic_1 { background-position: 0 0px; }
.ic_2 { background-position: 0 -18px; }
.ic_3 { background-position: 0 -36px; }
.ic_4 { background-position: 0 -54px; }
.ic_5 { background-position: 0 -72px; }
.ic_6 { background-position: 0 -90px; }
.ic_7 { background-position: 0 -108px; }
.ic_8 { background-position: 0 -126px; }
.ic_9 { background-position: 0 -144px; }
.ic_10 { background-position: 0 -162px; }
.ic_11 { background-position: 0 -180px; }
.ic_12 { background-position: 0 -198px; }
.ic_13 { background-position: 0 -216px; }
.ic_14 { background-position: 0 -234px; }
.ic_15 { background-position: 0 -252px; }
.ic_16 { background-position: 0 -270px; }
.ic_17 { background-position: 0 -288px; }
.ic_18 { background-position: 0 -306px; }
.ic_19 { background-position: 0 -324px; }
.ic_20 { background-position: 0 -342px; }

.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }
.fs80 { font-size: 80%; }
.fs90 { font-size: 90%; }
.fs100 { font-size: 100%; }
.fs110 { font-size: 110%; }
.fs120 { font-size: 120%; }


.btn {
  background: -moz-linear-gradient(top, rgba(255,200,3,1) 0%, rgba(255,170,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,200,3,1)), color-stop(100%,rgba(255,170,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,200,3,1) 0%,rgba(255,170,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,200,3,1) 0%,rgba(255,170,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,200,3,1) 0%,rgba(255,170,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,200,3,1) 0%,rgba(255,170,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc70f', endColorstr='#faac05',GradientType=0 );
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
}
.btn:hover {
  background: -moz-linear-gradient(top, rgba(3, 4, 255, 0.69) 0%, rgba(0, 102, 255, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(3, 4, 255, 0.69)), color-stop(100%,rgba(0, 102, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(3, 4, 255, 0.69) 0%,rgba(0, 102, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(3, 4, 255, 0.69) 0%,rgba(0, 102, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(3, 4, 255, 0.69) 0%,rgba(0, 102, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(3, 4, 255, 0.69) 0%,rgba(0, 102, 255, 1) 100%);
  color: #fff;
}

.fl {float: left;}
.fr {float: right;}


.mr0 { margin-right: 0; }
.mr4 { margin-right: 4px; }
.mr7 { margin-right: 7px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.ml0 { margin-left: 0; }
.ml4 { margin-left: 4px; }
.ml7 { margin-left: 7px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.mt-4 { margin-top: -4px; }
.mt0 { margin-top: 0; }
.mt4 { margin-top: 4px; }
.mt6 { margin-top: 6px; }
.mt7 { margin-top: 7px; }
.mt10 { margin-top: 10px; }
.mt14 { margin-top: 14px; }
.mt20 { margin-top: 20px; }
.mt22 { margin-top: 22px; }
.mt40 { margin-top: 40px; }
.mb0 { margin-bottom: 0; }
.mb4 { margin-bottom: 4px; }
.mb7 { margin-bottom: 7px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb40 { margin-bottom: 40px; }

.m0 { margin: 0; }
.m0a { margin: 0 auto; }

.pl0 { padding-left: 0; }
.pr0 { padding-right: 0; }
.pt0 { padding-top: 0; }
.pb0 { padding-bottom: 0; }

.pl4 { padding-left: 4px; }
.pl7 { padding-left: 7px; }
.pl10 { padding-left: 10px; }
.pl24 { padding-left: 24px; }

.pr4 { padding-right: 4px; }
.pr7 { padding-right: 7px; }
.pl10 { padding-left: 10px; }
.pr10 { padding-right: 10px; }

.pb2 { padding-bottom: 2px; }
.pb4 { padding-bottom: 4px; }

.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt40 { padding-top: 40px; }
.pt60 { padding-top: 60px; }

.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb40 { padding-bottom: 40px; }
.pb60 { padding-bottom: 60px; }

.cll {clear: left;}
.clr {clear: right;}

.p_1 {
  color: #575050;
}


.txt_1,
.inp_1 {
  padding: 5px 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: solid 1px #ccc;
}

.txt_1 {
  resize: none;
  height: 75px;
}





.bsbb {
  box-sizing: border-box;
}





/* Капча */
.recaptchatable .recaptcha_image_cell center {
  height: 57px;
}
  .recaptchatable #recaptcha_image {
    position: relative;
    margin: auto;
    border: 1px solid #dfdfdf!important;
    padding: 15px;
    margin-top: 0px !important;
  }
  .recaptchatable #recaptcha_image #recaptcha_challenge_image {
    display: block;
  }

  .recaptchatable .recaptcha_image_cell {
    background-color: white;
    height: 57px;
    padding: 7px 0!important;
  }

  .recaptchatable, #recaptcha_area tr, #recaptcha_area td, #recaptcha_area th {
    margin: 0!important;
    border: 0!important;
    border-collapse: collapse!important;
    vertical-align: middle!important;
  }




/* Верхняя плашка поиска объекта */
.search {
  background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(219,219,219,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(219,219,219,1)));
  background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(219,219,219,1) 100%);
  background: -o-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(219,219,219,1) 100%);
  background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%,rgba(219,219,219,1) 100%);
  background: linear-gradient(to bottom, rgba(235,235,235,1) 0%,rgba(219,219,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dbdbdb',GradientType=0 );
  padding: 5px 0;
  border-radius: 7px;
  box-shadow: 3px 4px 7px -5px #000;
}
  .search .h_3 {
    background: url(../img/ico_search.jpg) 0 4px no-repeat;
    padding: 0 0 0 23px;
    margin: 2px 7px auto;
  }
  .search input[type=text],
  .search select {
    padding: 4px;
    margin: 6px auto;
    cursor: pointer;
  }
  .search input[type=text] {
    cursor: inherit;
  }

  .search input {
    margin: 6px auto;
  }
/* Верхняя плашка входа в личный кабинет */
.enter_register {}

/* Верхняя плашка с логотипом компании */
.cabriolife-logo {}
  .cabriolife-logo img {
    max-width: 150px;
    margin: 0 auto;
    padding: 21px 5px;
  }


/* Адаптируем шапулю*/
.main_menu {}
  .main_menu ul {
    margin: 12px 0;
  }
  @media (max-width: 900px) {
    .main_menu {
      clear: both;
      width: 100%;
    }

    .cabriolife-logo {
      width: 40%;
    }
    .header-login-panel {
      width: 60%;
    }
      .header-login-panel .list-unstyled,
      .header-login-panel .search {
        margin-right: 0;
      }

    .btn {
      font-size: 13px;
      padding: 6px;
    }
  }

/* Хлебные крошки */
.breadcrumbs {
  background: url(../img/breadcrumbs-gray-bg.png) repeat-x;
  width: 100%;
  box-sizing: border-box;
}
  .breadcrumbs ul {
    background: url(../img/breadcrumbs-gray-bg.png) repeat-x;
    height: 28px;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 0 0 0px;
    box-sizing: border-box;
  }
  .breadcrumbs ul li {
    background: url(../img/breadcrumbs-arr.png) no-repeat;
    display: block;
    float: left;
    /*font-family: Tahoma;*/
    font-size: 12px;
    font-style: italic;
    padding: 0 0 0 12px;
  }
    .breadcrumbs ul li:first-child {
      padding-left: 4em;
      background: url(../img/breadcrumbs-bg.png) repeat-x;
      position: relative;
    }
    .breadcrumbs ul li:first-child:before {
      background: url(../img/breadcrumbs-arr.png) no-repeat;
      content: "";
      display: block;
      width: 12px;
      height: 27px;
      position: absolute;
      left: 33px;
      top: 0px;
    }


  .breadcrumbs ul li a {
    color: #a04700;
    display: block;
    float: left;
    padding: 6px 15px 7px 3px;
    background: url(../img/breadcrumbs-bg.png) repeat-x;
  }

  .breadcrumbs ul li a.rss_ico {
    background: url(../img/breadcrumbs-gray-bg.png) repeat-x;
    height:14px;
  }
  .breadcrumbs ul li.last {
    background: url(../img/breadcrumbs-arr-last.png) no-repeat;
  }
  .breadcrumbs ul li.last span {
    background: url(../img/breadcrumbs-gray-bg.png) repeat-x;
    color: #666;
    display: block;
    float: left;
    padding: 6px 15px 7px 3px;
  }





/* Карусель */

.jcarousel {
    position: relative;
    overflow: hidden;
    /*width: 600px;*/
    /*height: 400px;*/
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
  float: left;
  position: relative;
  /*width: 1140px;*/
  /*height: 262px;*/
}

.jcarousel-control-description {
  text-align: center;
  margin-top: 10px;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: solid 2px transparent; 
}
  .jcarousel-control-next:before,
  .jcarousel-control-prev:before {
    position: absolute;
    left: 14px;
    top: 13px;
    width: 10px;
    height: 14px;
    content: "";
    background-image: url(../img/slider-icon.png);
    background-position: -3px -2px;
  }

  .jcarousel-control-next:before {
    background-position: -19px -3px;
  }


.jcarousel-control-next:hover,
.jcarousel-control-prev:hover {
  border: solid 2px #E7E7E7;
}


.footer {
  height: 90px;
  background-image: url("../img/bg_6.gif");
}
  .footer label {
    color: #fff;
    font-size: 14px;
  }
  .footer span {
    color: #B3B3B3;
    font-size: 10px;
  }




  @media (max-width: 900px) {
    time.col-xs-1 {
      width: 16%;
    }

    .yandex-ads {
      display: none;
    }
    .article-content {
      width: 91.7%;
    }

      .article-content .item100 {
        width: 100%;
        padding-left: 0;
      }


    .ads-col {
      width: 91.7%;
      margin-left: 4.15%;
    }
      .ads-col .col-xs-11 {
        width: 32.4%;
        padding: 20px 1px;
      }


  }

.comments-list ul {
}
.comments-list ul li:before {
  display: none;
}


  @media (max-width: 790px) {
    .comments-list {
    }
      .comments-list ul li .col-xs-1 {
        display: none;
      }
      .comments-list ul li .col-xs-2 {
        width: 24%;
      }
    .create-comment {}
      .create-comment .item {
        width: 100%;
      }
      .create-comment .send-button {
        width: 24%;
      }



  }


  @media (max-width: 675px) {
    .ads-col {
    }
      .ads-col .col-xs-11 {
        width: 49.2%;
        padding: 20px 1px;
        margin-right: 0;
        margin-left: 0;
      }
  }

  @media (max-width: 520px) {
    .a_1 {
      font-size: 14px;
    }

    .search .h_3 {
      background: none;
      padding: 0;
    }
  }



.a-image {
  background: rgba(250, 250, 250, 0.47);
  border: solid 1px #ECEEF0;
  box-sizing: border-box;
  padding-bottom: 5px;
}
  .a-image img {
    margin: 5px;
    height: 100px;
  }


.commment-author {
  background-color: #F7F7F7;
  margin-right: 1em;
  border: solid 1px #EBEBEB;
  padding: 3px;
}
.comment-text {
  margin-bottom: 1em;
}
  .comment-text p {
    font-size: 13px;
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 5px;
    max-width: 790px;

  }

.dsib {
  display: inline-block;
  float: none;
  vertical-align: top;

}
.dsib.col-xs-4 {
  width: 33%;
}


.next-model  {

}
  .next-model a {
    background: url(../img/next-car-bg.png);
    display: block;
    margin-top: 1em;
    box-sizing: border-box;
    padding: 1em;
    background-position: -6px -4px;
    width: 312px;
    height: 74px;
    font-size: 13px;
    font-style: italic;
    color: #222;
  }
  .next-model img {
    float: left;
    margin-right: 1em;
    width: 80px;
    margin-top: -1px;
  }



.tac {text-align: center;}
.tal {text-align: left;}
.tar {text-align: right;}

.n-before {}
  .n-before:before {display: none;}